@charset "UTF-8";
/* CSS Document */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face{
  font-family: 'header';
  src:url("fonts/Kiona/fonts/Kiona-Regular.woff");
}

h2{
  font-family: header;
}

h3{
  font-family: header;  
}


@media screen and (max-width: 600px){
		
	
  a{
    text-decoration: none;
    color:white;
    background-color: transparent;
  }
  header{
    margin: 0;
    padding: 5px;
    height: 25vh;
    position: relative;
    background-color: #f59a4f;
    /* background-image:url("images/transparent.gif"); */
    background-position: center;
    background-size: 450px;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    
  }
  
  header img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    display: block;
    padding: 5%;
}
  
  h2{
    font-size: 45px;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    margin-top: 0;
    background-color: transparent;
  }
  
  h3{
    font-size: 25px;
    color: white;
    text-align: center;
  }

  .info{
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: #f59a4f;
    box-shadow: 0px -21px 91px -40px rgba(0,0,0,0.75);
  
  }
  
  .sticky{
    position: sticky;
    top: 0;
    overflow-x: hidden;
  }
  
  .info img{
    position: absolute;
    width: 100vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 60px -10px rgba(0,0,0,0.75);
    z-index: 0;
  }
  
  .modal{
    position: absolute;
    width: 100vw;
    height: inherit;
    background-color: #f59a4fab;
    z-index: 1;
  }
  
  .music{
    height: 80vh;
    background-color: #f59a4f;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }
  
  .music h2{
    margin-top: 5%;
  }

  .music h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  
  .setInfo{
    background-image: url("images/smallflyer2.png");
    background-size: contain;
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;  }
  
  footer{
    display: flex;
    justify-content: center;
    padding: 0;
    position: relative;
  }
  
  .flex-center {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 2;
  }
  
  .icon-3d {
    font-size: 40px;
    margin: 10px;
  }
  
  iframe{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
    }

@media screen and (min-width: 601px){
	
a{
	text-decoration: none;
	color:white;
	background-color: transparent;
}

header{
  margin: 0;
	padding: 5px;
  height: 25vh;
  position: relative;
	background-color: #f59a4f;
  /* background-image:url("images/transparent.gif"); */
  background-position: center;
  background-size: 450px;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;

}

header img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: block;
  padding: 5%;
}

h2{
	font-size: 45px;
	text-align: center;
	color: white;
	border: 1px solid white;
	border-left: none;
	border-right: none;
	margin-top: 0;
	background-color: transparent;
}

h3{
  font-size: 30px;
  color: white;
}
.info{
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: #f59a4f;
  box-shadow: 0px -21px 91px -40px rgba(0,0,0,0.75);

}

.sticky{
  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.info img{
  position: absolute;
  width: 60vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 60px -10px rgba(0,0,0,0.75);
  z-index: 0;
}

.modal{
  position: absolute;
  width: 40vw;
  height: inherit;
  background-color: #f59a4fab;
  z-index: 1;
}

.music{
  height: 75vh;
  background-color: #f59a4f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music h2{
  margin-top: 5%;
}

.music h3{
  margin: 10%;
}

.setInfo{
  background-image: url("images/compresspng/NU\ STRUT\ FLYER\ CST\ V1-min.png");
  background-size: contain;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

footer{
	display: flex;
	justify-content: center;
  padding: 0;
  position: relative;
}

.flex-center {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 85%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.icon-3d {
  font-size: 100px;
  margin: 10px;
}

.icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite; 
    animation: icon3d 200ms infinite;
    cursor: pointer;
}

@keyframes icon3d {
  0% {
    filter: drop-shadow(5px 4px 0px #F5F5F5);
  }
  25% {
    filter: drop-shadow(-5px -6px 0px #ce7c39f5);
  }
  50% {
    filter: drop-shadow(5px -4px 0px #F5F5F5);
  }
  75% {
    filter: drop-shadow(-8px -4px 0px #ce7c39f5);
  }
  100% {
    filter: drop-shadow(-5px 0px #F5F5F5);
  }
}

iframe{
	display: flex;
	justify-content: center;
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}
	
}